@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;color: #313131;font-weight: 700
}

body{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #676767;
    line-height: 1.9;
}

input:focus, textarea:focus, button:focus, a:focus {
    outline: none;
}

img {max-width: 100%;height: auto;}

.hero-area {background-image: url(../img/hero-bg.jpg);}
.cta-area {background-image: url(../img/cta-bg.jpg);}

.hero-area:after, .cta-area:after {
    background: #10b6a8;
    background: -moz-linear-gradient(left, #10b6a8 0%, #0a742c 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #10b6a8), color-stop(100%, #0a742c));
    background: -webkit-linear-gradient(left, #10b6a8 0%, #0a742c 100%);
    background: -o-linear-gradient(left, #10b6a8 0%, #0a742c 100%);
    background: -ms-linear-gradient(left, #10b6a8 0%, #0a742c 100%);
    background: linear-gradient(to right, #10b6a8 0%, #0a742c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10b6a8', endColorstr='#0a742c', GradientType=1 );
}


.hero-area {
    background-size: cover;
    background-position: center;
    background-color: #10b6a7;
    position: relative;
    z-index: 1;
    color: #fff;
    padding-top: 250px;
    padding-bottom: 175px;
    font-size: 18px;
    font-weight: 300;
}

.hero-area:after, .cta-area:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    opacity: .9;
    z-index: -1;
}

.hero-area h2 {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #fff
}

.header-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 90;
    padding: 20px, 0;
}

.mainmenu a {
    color: #fff;
}

.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu li {
    display: inline-block;
}

.mainmenu li.btn {
    background-color: #0cb5a6
}

.mainmenu li a {
    display: block;
    padding: 5px;
    margin-left: 10px;
}

.logo h1 {
    margin: 0;
}

.mainmenu {
    margin-top: 7px;
}

.mainmenu li.btn:before {
    font-family: fontawesome;
    position: absolute;
    left: 12px;
    top: 11px;
    color: #fff;
}

.mainmenu li.btn {
    position: relative;padding-left: 30px;
}

.video-btn i.fa {
    display: block;
    height: 100px;
    width: 100px;
    color: #333;
    background: #fff;
    margin: 0 auto 14px;
    line-height: 100px;
    font-size: 26px;
    border-radius: 50%;
}

.video-btn {
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}

body {
    background-color: #f8fcfe;
}

.section-padding {
    padding: 120px;
}


.bordered-box {
    margin-bottom: 40px;
    border: 1px solid #F0F4F6;
    position: relative;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
}

.bordered-box:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 10px;
    width: 100%;
    content: "";
    background: #10b6a7;
    border-radius: 20px;
}

.bordered-box h3 {
    margin-bottom: 40px;
    margin-top: 20px;
}

.single-service-box {
    background: #f8fdff;
    padding: 30px 15px;
    margin-bottom: 30px;
    text-align: center;
}

.service-icon {
    height: 100px;
    width: 100px;
    background: #fff;
    margin: 0 auto 25px;
    border-radius: 50%;
    box-shadow: 2px 2px 13px #e2f6f5;
    font-size: 24px;
}

.service-icon-wrap {
    vertical-align: middle;
}

.single-service-box h4 {
    font-size: 18px;
    margin-bottom: 15px;
}

.inline-btn {
    color: #12b5a6;
}

.inline-btn i.fa {
    padding-left: 5px;
}

.col-lg-6:nth-child(2) .single-service-box {
    background-color: #fafafe;
}

.col-lg-6:nth-child(3) .single-service-box {
    background-color: #fafffc;
}

.col-lg-6:nth-child(4) .single-service-box {
    background-color: #fffaff;
}

.bordered-box ul {
    padding: 0;
    margin: 0 0 20px;
    list-style: none;
}

.bordered-box li {
    padding-bottom: 20px;
    border-top: 1px solid #ecf9ff;
    padding-top: 20px;
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
}

.bordered-box li a {
    color: #313131;
}

.bordered-box li span {
    font-size: 80%;
}

.bordered-box li a:hover {
    color: #12b5a6;
    text-decoration: none;
}

.cta-area {
    position: relative;z-index: 2
}



.cta-area {
    margin: 60px 0;
    padding: 60px 30px;
    color: #fff;
    background-color: #0cb5a6;
    background-size: cover;
}

.cta-area h3 {
    font-size: 26px;
    color: #fff;
    margin-bottom: 20px;
}


.edutune-btn {
    background: #0cb5a6;
    color: #fff;
    padding: 7px 20px;
    display: inline-block;
    border-radius: 5px;
}

.cta-area, .cta-area:after {
    border-radius: 10px;
}

.cta-area .edutune-btn {
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -20px;
}

.cta-area p {
    margin-bottom: 0;
}

/*---------Latest News start--------*/

.blog-bg-1 {
  background-image: url(../img/blog-bg-1.jpg);
}

.blog-bg-2 {
  background-image: url(../img/blog-bg-2.jpg);
}

.blog-bg-3 {
  background-image: url(../img/blog-bg-3.jpg);
}

.blog-bg-4 {
  background-image: url(../img/blog-bg-4.jpg);
}

.blog-box-bg {
  height: 270px;
  background-size: cover;
  background-position: center;
  background-color: #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.single-blog-box h4 {
  font-size: 18px;
}

/*---------------------Latest News End----------------*/

.blog-meta {
  color: #10B6A7;
  font-size: 14px;
}

.single-blog-box {
  margin-bottom: 50px;
  display: block;
}

.full-width-btn {
  background: #10B6A7;
  color: #fff;
  display: block;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 5px;
}

.full-width-btn i.fa {
  margin-left: 10px;
}

.footer-top-area {
  background: #036B63;
  color: #fff;
  padding: 70px 0;
  font-weight: 300;
}

.footer-widget h4 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}

.footer-info {
  position: relative;
  padding-left: 30px;
}

.footer-info i.fa {
  position: absolute;
  top: 7px;
  left: 0;
}

.footer-widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-widget li {
  padding-bottom: 5px;
}

.footer-widget li a {
  color: #fff;
}

.footer-social-links li {
  position: relative;
  padding-left: 30px
}

.footer-social-links li i.fa {
  position: absolute;
  top: 6px;
  left: 0;
}

.copyright-area {
  background: #015952;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding: 15px 0;
}
